div
	label Email:
	input(name='user[email]', value=user.email || '' )
div
	label First Name:
	input(name='user[firstname]', value=user.firstname || '' )
div
	label Last Name:
	input(name='user[lastname]', value=user.lastname || '' )
div
	label Password:
	input(name='user[password]', value=user.password || '', type='password' )
div
	label Confirm Password:
	input(name='passwordConfirm', value=user.password || '', type='password' )
div
	label Role:
	input(name='user[role]', value=user.role || '' )
